p.break {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  border-top: thin solid silver;
  color: gray;
}
tei-byline {
  display: inline;
  text-align: center;
}

td {
    
    width: 350px;
    text-align: left;
    
}


tei-closer {
  display: block;
}
tei-closer>tei-salute {
  display: block;
}
tei-closer>tei-signed {
  display: block;
  text-align: right;
}
tei-div {
  display: block;
}


tei-div[type=dramatis]>tei-head {
  display: block;
  font-size: 140%;
  font-weight: bold;
  padding-top: 75px;
  padding-bottom: 25px;
  text-align: center;
}

tei-div[type=introduction]>tei-head {
  display: block;
  font-size: 140%;
  font-weight: bold;
  padding-top: 75px;
  padding-bottom: 25px;
  text-align: center;
  
}

tei-div[type=act]>tei-head {
  display: block;
  font-size: 140%;
  font-weight: bold;
  padding-top: 75px;
  padding-bottom: 25px;
  text-align: center;
  
}

tei-div[type=scene]>tei-head {
  display: block;
  font-size: 140%;
  font-weight: bold;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
    
}

tei-div[type=act] {
  border-bottom: 1px solid #999;
  padding-bottom: 25px;
}

tei-div[type=introduction] {
  border-bottom: 1px solid #999;
  padding-bottom: 25px;
}

tei-div[type=dramatis] {
  border-bottom: 1px solid #999;
  padding-bottom: 25px;
}


tei-div[type=dedication]>tei-lg {
  margin: auto;
  text-align: center;
}
tei-docauthor {
display: inline;
  text-align: center;
}
tei-docauthor>tei-name {
  display: block;
  font-size: 2em;
}
tei-docimprint {
  display: block;
  margin-top: 10em;
  text-align: center;
}
tei-doctitle>tei-titlepart {
  display: block;
  text-align: center;
}
tei-doctitle>tei-titlepart[type=main] {
  font-size: 3em;
}
tei-doctitle>tei-titlepart[type=subtitle] {
  font-size: 2em;
  padding: 10px;
}
tei-emph[rend=bold] {
  font-weight: bold;
}
tei-figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
tei-figure>tei-p {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
tei-hi[rend=italics] {
  font-style: italic;
}

}
tei-hi[rend=bold] {
  font-style: bold;
}



tei-l {
  display: block;
}
tei-lg {
  display: block;
  margin-left: 5em;
}
tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}
tei-p {
  display: block;
  line-height: 1.8;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}

tei-speaker {
    font-weight: bold;
    
}

tei-stage {
    display: block;
    padding-bottom: 25px;
}

tei-table {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 14pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}


tei-tei {
  /*   font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
  font-size: 16pt;
  
}
tei-text {
  display: block;
  width: 750px;
  margin: auto;
  padding: 25px;
  border-style: solid;
  background-color: #f2f2f2;
}

tei-titlepage {
  display: block;
  
}

