

 img {

    display: grid;
    max-width: 55rem;
    background-color: #ffffff;
    margin: auto;
    align-content: center;
}

p.break {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    border-top: thin solid silver;
    color: gray;
}

tei-byline {
    display: inline;
    text-align: center;
}

td, tei-cell {
    text-align: left;
}


tei-closer {
    display: block;
}

tei-closer > tei-salute {
    display: block;
}

tei-closer > tei-signed {
    display: block;
    text-align: right;
}

tei-div1, tei-div2 {
    display: block;
}



tei-div1[type = introduction] > tei-head {
    display: block;
    font-size: 140%;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;

}


tei-div1[type = act] > tei-head {
    display: block;
    font-size: 150%;
    font-weight: bold;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


tei-div2[type = scene] > tei-head {
    display: block;
    font-size: 130%;
    font-weight: bold;
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}


tei-div1[type = act] {
    border-bottom: 2px solid #999;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}


tei-div1[type = introduction] {
    border-bottom: 1px solid #999;
    padding-bottom: 1rem;
}


tei-div1[type = dramatis] {
    border-bottom: 2px solid #999;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

tei-div1[type = dramatis] > tei-head {
    display: block;
    font-size: 150%;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tei-table {
    display: block;
    width: 100%;
    margin: 1rem auto;
}

tei-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.15rem 0;
}

tei-cell {
    display: block;
    padding: 0.2rem 0.5rem;
}

/* Character name column: right-align so the nbsp padding gets clipped on the left */
tei-cell:first-child {
    flex: 1;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1rem;
}

/* Hide empty middle cells */
tei-cell:empty {
    display: none;
    flex: 0;
    padding: 0;
}

/* Actor name column */
tei-cell:last-child {
    flex: 1;
    text-align: left;
}

/* Section headers (MEN., WOMEN., subgroups) - cells with cols attribute span full width */
tei-cell[cols] {
    flex-basis: 100%;
    text-align: center;
    white-space: normal;
    overflow: visible;
}

tei-cell[role = label] {
    font-weight: bold;
    font-size: 1.15em;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}

/* Subgroup headers like "Macheath's Gang" and "Women of the Town" */
tei-cell[cols]:not([role = label]) {
    font-size: 0.95em;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}



tei-div[type = dedication] > tei-lg {
    margin: auto;
    text-align: center;
}

tei-docauthor {
    display: inline;
    text-align: center;
}

tei-docauthor > tei-name {
    display: block;
    font-size: 2em;
}

tei-docimprint {
    display: block;
    margin-top: 10rem;
    text-align: center;
}

tei-doctitle > tei-titlepart {
    display: block;
    text-align: center;
}

tei-doctitle > tei-titlepart[type = main] {
    font-size: 3em;
}

tei-doctitle > tei-titlepart[type = subtitle] {
    font-size: 2em;
    padding: 0.5rem;
}
tei-emph[rend = bold] {
    font-weight: bold;
}

tei-figure {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

tei-figure > tei-p {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



tei-hi[rend = italics] {
    font-style: italic;
}


tei-hi[rend = bold] {
    font-weight: bold;
}



tei-l {
    display: block;
    font-style: italic;
    line-height: 1.6;
    padding-left: 2rem;
}

tei-list[type = simple] {
    list-style-type: none;
}

tei-list[type = simple] > tei-item {
    display: list-item;
}

tei-p {
    display: block;
    line-height: 1.8;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}


tei-set {

    display: none;
}


tei-sp {
    display: block;
    margin-bottom: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}

tei-speaker {
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.05em;
    margin-bottom: 0.25rem;
}

tei-stage {
    display: block;
    font-style: italic;
    color: #555;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
}



tei-tei {
    /*   font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
    font-size: 16pt;


}
tei-text {
    display: block;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
}

tei-titlepage {
    display: block;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 2px solid #999;
}



/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width : 600px) {

    tei-text {
        display: block;
        width: 100%;
        margin: auto;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
    }

    tei-table {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: .7em;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-align: center;
    }



    tei-floatingText {
        display: block;
        font-size: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 60%;
        margin-left: 3rem;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }


}






/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width : 600px) {

    tei-text {
        display: block;
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
    }


    tei-table {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: .85em;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-align: center;
    }


    tei-floatingText {
        display: block;
        font-size: 80%;
        margin-left: 5rem;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 80%;
        margin-left: 4rem;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }


}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width : 992px) {


    tei-text {
        display: block;
        width: 100%;
        margin: auto;
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
    }

    tei-table {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1em;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 140%;
        font-weight: bold;
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-align: center;

    }

    tei-div2[type = musical_score] > tei-head {
        display: block;
        font-size: 120%;
        font-weight: normal;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;

    }

    tei-div1[type = musical_scores] > tei-head {
            display: block;
            font-size: 140%;
            font-weight: bold;
            padding-top: 3rem;
            padding-bottom: 1rem;
            text-align: center;

        }

    tei-floatingText {
        display: block;
        font-size: 110%;
        margin-left: 4rem;
        padding-left: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 110%;
        margin-left: 4rem;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

 tei-text {
        display: block;
        width: 100%;
        margin: auto;
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fafafa;
    }

    tei-table {
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1em;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 140%;
        font-weight: bold;
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-align: center;

        }

    tei-div2[type = musical_score] > tei-head {
        display: block;
        font-size: 120%;
        font-weight: normal;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;

    }

    tei-floatingText {
        display: block;
        font-size: 110%;
        margin-left: 4rem;
        padding-left: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 110%;
        margin-left: 4rem;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }



}
