

 img {

    display: grid;
    max-width: 880px;
    background-color: #ffffff;
    margin: auto;
    align-content: center;
}

p.break {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    border-top: thin solid silver;
    color: gray;
}

tei-byline {
    display: inline;
    text-align: center;
}

td {

    width: 33em;
    text-align: left;

}


tei-closer {
    display: block;
}

tei-closer > tei-salute {
    display: block;
}

tei-closer > tei-signed {
    display: block;
    text-align: right;
}

tei-div1, tei-div2 {
    display: block;
}



tei-div1[type = introduction] > tei-head {
    display: block;
    font-size: 140%;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 1em;
    text-align: center;

}


tei-div1[type = act] > tei-head {
    display: block;
    font-size: 140%;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 1em;
    text-align: center;

}


tei-div2[type = scene] > tei-head {
    display: block;
    font-size: 140%;
    font-weight: bold;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;

}


tei-div1[type = act] {
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
}


tei-div1[type = introduction] {
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
}


tei-div1[type = dramatis] {
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
}



tei-div[type = dedication] > tei-lg {
    margin: auto;
    text-align: center;
}

tei-docauthor {
    display: inline;
    text-align: center;
}

tei-docauthor > tei-name {
    display: block;
    font-size: 2em;
}

tei-docimprint {
    display: block;
    margin-top: 10em;
    text-align: center;
}

tei-doctitle > tei-titlepart {
    display: block;
    text-align: center;
}

tei-doctitle > tei-titlepart[type = main] {
    font-size: 3em;
}

tei-doctitle > tei-titlepart[type = subtitle] {
    font-size: 2em;
    padding: .5em;
}
tei-emph[rend = bold] {
    font-weight: bold;
}

tei-figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

tei-figure > tei-p {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



tei-hi[rend = italics] {
    font-style: italic;
}


tei-hi[rend = bold] {
    font-weight: bold;
}



tei-l {
    display: block;
    font-style: italic;

}

tei-list[type = simple] {
    list-style-type: none;
}

tei-list[type = simple] > tei-item {
    display: list-item;
}

tei-p {

    display: inline;
    line-height: 1.8;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
    padding-bottom: 1em;
}


tei-set {

    display: none;
}


tei-sp {
    display: block;
    padding-bottom: 1em;


}

tei-speaker {
    display: inline;
    font-weight: bold;

}

tei-stage {
    display: block;
    padding-bottom: 1em;
}



tei-tei {
    /*   font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
    font-size: 16pt;


}
tei-text {
    display: block;
    width: 30em;
    margin: auto;
    padding: 1em;
    border-style: solid;
    background-color: #f2f2f2;
}

tei-titlepage {
    display: block;

}



/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width : 600px) {

    tei-text {
        display: block;
        width: auto;
        margin: auto;
        padding: 1em;
        border-style: solid;
        background-color: #f2f2f2;
    }

    tei-table {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: .35em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding-top: 3em;
        padding-bottom: 1em;
        text-align: center;
    }



    tei-floatingText {
        display: block;
        font-size: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: .75em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 60%;
        margin-left: 3em;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: .75em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }


}






/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width : 600px) {




    tei-text {
        display: block;
        width: auto;
        margin: auto;
        padding: 1em;
        border-style: solid;
        background-color: #f2f2f2;
    }


    tei-table {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: .75em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding-top: 3em;
        padding-bottom: 1em;
        text-align: center;
    }


    tei-floatingText {
        display: block;
        font-size: 80%;
        margin-left: 5em;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: .75em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 80%;
        margin-left: 4em;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: 1.5em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }


}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width : 992px) {


    tei-text {
        display: block;
        width: 70%;
        margin: auto;
        padding: 2em;
        border-style: solid;
        background-color: #f2f2f2;
    }

    tei-table {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: .9em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 140%;
        font-weight: bold;
        padding-top: 3em;
        padding-bottom: 1em;
        text-align: center;

    }

    tei-div2[type = musical_score] > tei-head {
        display: block;
        font-size: 120%;
        font-weight: normal;
        padding-top: 2em;
        padding-bottom: 1em;
        text-align: center;

    }

    tei-div1[type = musical_scores] > tei-head {
            display: block;
            font-size: 140%;
            font-weight: bold;
            padding-top: 3em;
            padding-bottom: 1em;
            text-align: center;

        }

    tei-floatingText {
        display: block;
        font-size: 110%;
        margin-left: 4em;
        padding-left: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: .75em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 110%;
        margin-left: 4em;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: 1.5em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

 tei-text {
        display: block;
        width: 50%;
        margin: auto;
        padding: 2em;
        border-style: solid;
        background-color: #f2f2f2;
    }

    tei-table {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: .9em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    tei-div1[type = dramatis] > tei-head {
        display: block;
        font-size: 140%;
        font-weight: bold;
        padding-top: 3em;
        padding-bottom: 1em;
        text-align: center;

        }

    tei-div2[type = musical_score] > tei-head {
        display: block;
        font-size: 120%;
        font-weight: normal;
        padding-top: 2em;
        padding-bottom: 1em;
        text-align: center;

    }

    tei-floatingText {
        display: block;
        font-size: 110%;
        margin-left: 4em;
        padding-left: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: .75em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;

    }

    #FT_2,
    #FT_8,
    #FT_9,
    #FT_10,
    #FT_12,
    #FT_14,
    #FT_15,
    #FT_16,
    #FT_18,
    #FT_19,
    #FT_20,
    #FT_22,
    #FT_24,
    #FT_25,
    #FT_31,
    #FT_35,
    #FT_36,
    #FT_37,
    #FT_38,
    #FT_39,
    #FT_40,
    #FT_45,
    #FT_49,
    #FT_52,
    #FT_53,
    #FT_57,
    #FT_68,
    #FT_69 {
        display: block;
        font-size: 110%;
        margin-left: 4em;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: .75em;
        margin-bottom: .75em;
        padding-top: .75em;
        padding-bottom: 1.5em;
        font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
        text-align: left;
        line-height: 2.0;
        width: 90%;

    }



}
